.container {    
    padding: 0 1rem;
  }

  
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px black solid;
}

.title {
    padding-left: 20px
}
  
  .backToHome {
    margin: 3rem 0 0;
  }

.container_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
.container_line {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
